@import '../_var'

.banner.service_listing
    .banner-wrapper
        .heading
            max-width: 505px

.service_listing_sec
    .main_wrapper
        .service_col
            display: flex
            flex-wrap: wrap
            &:not(:last-child)
                border-bottom: 1px solid #A8A8A8
            &:nth-child(even)
                background: #F4F4F4
            .colA
                flex: 0 1 auto
                width: 30%
                max-width: 100%
                padding: 55px
                border-right: 1px solid #A8A8A8
            .title
                display: flex
                align-items: center
                gap: 25px
                span
                    font-size: 24px
                    font-weight: 700 
                    color: $black
                    font-family: $PPTelegraf
                h6
                    font-size: 36px
                    font-weight: 700 
                    color: $black
                    font-family: $PPTelegraf
            .info-desc
                flex: 1
                max-width: 100%
                width: 100%
                padding: 55px 75px
                display: flex
                align-items: start
                gap: 80px
                .desc
                    flex: 1
                    max-width: 100%
                    width: 100%
                    p
                        line-height: 1.4
                    .btn
                        margin-top: 40px
                figure
                    flex: 0 1 auto
                    max-width: 310px
                    width: 100%

// Service Details

.banner.service_details
    .banner-wrapper
        .heading
            max-width: 505px

.service_info
    .main_wrapper
        --gap: 120px
        gap: var(--gap)
        align-items: center
        figcaption
            flex: 1
            max-width: calc( 55% - var(--gap) )
            width: 100%
            h3
                margin-bottom: 15px
        figure
            flex: 1
            max-width: 45%
            width: 100%
            border-radius: 10px
            img
                border-radius: inherit

.our_process
    background: var(--gray)
    .heading
        text-align: center
        margin-bottom: 50px
    .main_wrapper 
        --gap: 70px
        gap: var(--gap)
        justify-content: center
        align-items: start
        figure
            flex: 0 1 auto
            max-width: 40%
            width: 100%
            border-radius: 10px
            img
                border-radius: inherit
        figcaption
            flex: 1
            max-width: 40%
            ul
                padding: 20px 0 45px 40px
                border-left: 1px solid $secondary
                li
                    position: relative
                    margin-bottom: 40px
                    &::before
                        content: ""
                        position: absolute
                        width: 22px
                        height: 22px
                        background: $secondary
                        border-radius: 50%
                        left: -51px
                    h6
                        font-family: $PublicSans
                        font-weight: 700
                        font-size: 20px
                        line-height: 1.2
                        margin-bottom: 5px
                    p
                        line-height: 1.3

.safety_compliance
    .heading
        text-align: center
        margin-bottom: 40px
    .main_wrapper
        position: relative
        .swiper-nav
            max-width: 80%
            button
                box-shadow: none
                svg
                    width: 100%
                    height: 100%
        .safety_slider
            .safety_col
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: center
                gap: 55px
                padding: 40px
                border-radius: 15px
                background: #F0F0F0
                figcaption
                    flex: 1
                    h6
                        font-family: $PublicSans
                        font-size: 24px
                        font-weight: 700
                        margin-bottom: 10px
                figure
                    flex: 1
                    border-radius: 10px
                    line-height: 0
                    img
                        border-radius: inherit

.faqs_sec
    background: var(--gray)
    .heading
        text-align: center
        margin-bottom: 50px
    .main_wrapper
        max-width: 770px
        margin: 0 auto
        .faq_col
            border: 1px solid #E4E4E4
            background: $white
            border-radius: 10px
            &:not(:last-child)
                margin-bottom: 15px
                @include media(540)
                    margin-bottom: 12px
            &.active
                .faq_title
                    h4
                        color: $black
                    .icon
                        --bgcolor: var(--black)
                        &::after
                            transform: scaleY(0)
                article
                    grid-template-rows: 1fr
                    opacity: 1
            .faq_title
                position: relative
                cursor: pointer
                display: flex
                flex-wrap: wrap
                align-items: center
                gap: 20px
                overflow: hidden
                padding: 20px
                @include media(768)
                    padding: 18px
                h4
                    flex: 1
                    font-family: $PublicSans
                    font-size: 16px
                    font-weight: 600
                    color: $text
                    transition: .5s ease
                .icon
                    flex: 0 1 auto
                    margin-left: auto
                    --size: 18px
                    --border: 2px
                    --bgcolor: var(--text)
                    width: var(--size)
                    height: var(--size)
                    position: relative
                    @include before(var(--bgcolor))
                    @include after(var(--bgcolor))
                    &::before,&::after
                        transition: .5s ease
                    @include media(540)
                        --size: 15px
                    &::before
                        top: calc(var(--size) / 2 - var(--border) / 2)
                        bottom: auto
                        height: var(--border)
                        width: 100%
                    &::after
                        left: calc(var(--size) / 2)
                        translate: -50% 0
                        right: auto
                        width: var(--border)
                        height: 100%
            article
                display: grid
                grid-template-rows: 0fr
                opacity: 0
                transition: .5s ease
                .faq_details
                    padding: 0
                    overflow: hidden
                p
                    font-size: 14px
                    font-weight: 400
                    color: $text
                    padding: 0 20px 20px
                    @include media(768)
                        padding: 0 18px 18px

.more_service_sec
    .heading
        text-align: center
        margin-bottom: 40px
    .main_wrapper
        position: relative
        .more_slider
            max-width: 97%
            .service_col.item-md
                display: block
                width: 100%
                height: 100%
                &::before
                    background: linear-gradient(0deg, #000, #0000 50%)
                    border-radius: 10px
                &:hover
                    figure
                        img
                            transform: scale(1.2)
                            transition: .8s ease
                figure
                    border-radius: 10px
                    @include shine()
                    img 
                        border-radius: inherit
                figcaption
                    padding: 0 25px 25px
                    text-align: center
                    h6
                        font-family: $PublicSans
                        font-weight: 600
                        font-size: 20px
                        color: $white