@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.about_sec .main_wrapper {
  justify-content: center;
  align-items: center;
  --gap: 100px;
  gap: var(--gap);
}
.about_sec .main_wrapper .figure-animation {
  flex: 0 1 auto;
  width: 100%;
  max-width: 490px;
  height: 490px;
  border: 1px solid #DBDBDB;
  border-radius: 50%;
  padding: 15px;
}
.about_sec .main_wrapper .figure-animation .animation_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  background: url("/images/home/road-vector.png") repeat-x;
  background-position: 0 50%;
  animation: road-scroll 20s linear infinite;
  overflow: hidden;
  border-radius: 50%;
  border: inherit;
}
@keyframes road-scroll {
  from {
    background-position: 0 50%;
  }
  to {
    background-position: -1000px 50%;
  }
}
.about_sec .main_wrapper .figure-animation .animation_wrapper .truck {
  position: absolute;
  top: 55%;
  left: 40%;
  transform: translate(-40%, -55%);
  width: 286px;
  height: auto;
}
.about_sec .main_wrapper .figure-animation .animation_wrapper .bottom_circle {
  width: 100%;
  height: 22%;
  background: #F9F9FA;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-top: 1px solid #C7C7C7;
}
.about_sec .main_wrapper figcaption {
  flex: 0 1 auto;
  width: 100%;
  max-width: 50%;
}
.about_sec .main_wrapper figcaption .heading h3 {
  margin-bottom: 10px;
}
.about_sec .main_wrapper figcaption .heading .desc {
  margin-bottom: 25px;
}
.about_sec .main_wrapper figcaption .heading .desc p:not(:last-child) {
  margin-bottom: 10px;
}

.presence_sec .heading {
  text-align: center;
  margin-bottom: 50px;
}
.presence_sec .main_wrapper {
  background: #F3F3F3;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0 rgba(99, 99, 99, 0.2);
}
.presence_sec .main_wrapper .left {
  flex: 0 1 auto;
  width: 100%;
  max-width: 400px;
  padding: 20px 20px 40px;
}
.presence_sec .main_wrapper .left .upper {
  margin-bottom: 20px;
}
.presence_sec .main_wrapper .left .upper h4 {
  font-size: 20px;
  font-family: var(--publicsans);
  font-weight: 600;
  margin-bottom: 25px;
}
.presence_sec .main_wrapper .left .upper .form {
  --item: 2;
  --gaplr: 15px;
  --inputsize: 30px;
}
.presence_sec .main_wrapper .left .upper .form .form-group {
  padding: 24px 8px 8px;
  background: var(--white);
  --iconsize: 18px;
  --iconspace: 10px;
}
.presence_sec .main_wrapper .left .upper .form .form-group::before, .presence_sec .main_wrapper .left .upper .form .form-group::after {
  display: none;
}
.presence_sec .main_wrapper .left .upper .form .form-group label {
  opacity: 1;
  top: 8px;
  display: inline-block;
  margin-bottom: 2px;
  padding-left: calc(var(--iconsize) + var(--iconspace) + 8px);
  color: rgba(102, 102, 102, 0.5019607843);
  font-size: 14px;
}
.presence_sec .main_wrapper .left .upper .form .form-group .custom-select {
  --iconsize: 18px;
  --iconspace: 10px;
}
.presence_sec .main_wrapper .left .upper .form .form-group .custom-select::before {
  background-image: url(/icon/arrow-down-black.svg);
}
.presence_sec .main_wrapper .left .upper .form .form-group .custom-select .current {
  padding-right: calc(var(--arrow) + var(--arrowspace));
}
.presence_sec .main_wrapper .left .upper .form .form-group.state .custom-select.has-icon {
  --iconurl: url("/icon/location-prime.svg");
}
.presence_sec .main_wrapper .left .upper .form .form-group.category .custom-select.has-icon {
  --iconurl: url("/icon/clock-prime.svg");
}
.presence_sec .main_wrapper .left .filter_options {
  max-height: 414px;
  overflow-y: auto;
  padding-right: 10px;
}
.presence_sec .main_wrapper .left .filter_options::-webkit-scrollbar {
  width: 4px;
  background: var(--white);
  height: 4px;
}
.presence_sec .main_wrapper .left .filter_options::-webkit-scrollbar-track {
  box-shadow: none;
}
.presence_sec .main_wrapper .left .filter_options::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0px;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li {
  padding: 20px 35px;
  transition: 0.5s ease;
  background: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.sale_li:not(:last-child) {
  border-bottom: 1px solid #E2E2E2;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active, .presence_sec .main_wrapper .left .filter_options li.sale_li:hover {
  background: linear-gradient(0deg, #191542, #231976);
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active .price h6, .presence_sec .main_wrapper .left .filter_options li.sale_li:hover .price h6 {
  color: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active .price p, .presence_sec .main_wrapper .left .filter_options li.sale_li:hover .price p {
  background: rgba(255, 255, 255, 0.2);
  color: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active .loc, .presence_sec .main_wrapper .left .filter_options li.sale_li:hover .loc {
  color: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active .loc p, .presence_sec .main_wrapper .left .filter_options li.sale_li:hover .loc p {
  color: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active .desc {
  grid-template-rows: 1fr;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li.active .desc .content {
  margin-bottom: 20px;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 14px;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .price h6 {
  font-size: 20px;
  font-family: var(--publicsans);
  font-weight: 700;
  line-height: 1.2;
  transition: 0.5s ease;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .price p {
  background: #90C94A;
  padding: 4px 12px;
  border-radius: 25px;
  color: var(--black);
  font-size: 14px;
  font-weight: 500;
  transition: 0.5s ease;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .desc {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.5s ease;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .desc .content {
  transition: 0.5s ease;
  margin-bottom: 0px;
  overflow: hidden;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .desc p {
  color: rgba(255, 255, 255, 0.6980392157);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .loc {
  display: flex;
  align-items: center;
  gap: 5px;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .loc .icon {
  flex: 0 1 auto;
  width: 20px;
  height: 20px;
}
.presence_sec .main_wrapper .left .filter_options li.sale_li .loc p {
  font-size: 14px;
  font-weight: 500;
}
.presence_sec .main_wrapper .left .filter_options li.filter_li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  cursor: pointer;
  gap: 42px;
  padding: 20px;
  transition: all 0.5s ease-in-out;
}
.presence_sec .main_wrapper .left .filter_options li.filter_li:not(:last-child) {
  margin-bottom: 3px;
}
.presence_sec .main_wrapper .left .filter_options li.filter_li:hover, .presence_sec .main_wrapper .left .filter_options li.filter_li.active {
  background: var(--primary);
}
.presence_sec .main_wrapper .left .filter_options li.filter_li:hover .info h6, .presence_sec .main_wrapper .left .filter_options li.filter_li.active .info h6 {
  color: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.filter_li:hover .info p, .presence_sec .main_wrapper .left .filter_options li.filter_li.active .info p {
  color: rgba(255, 255, 255, 0.6980392157);
}
.presence_sec .main_wrapper .left .filter_options li.filter_li:hover .icon svg path, .presence_sec .main_wrapper .left .filter_options li.filter_li.active .icon svg path {
  fill: var(--white);
}
.presence_sec .main_wrapper .left .filter_options li.filter_li .info {
  flex: 1;
}
.presence_sec .main_wrapper .left .filter_options li.filter_li .info h6 {
  font-family: var(--publicsans);
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
  transition: 0.5s ease;
}
.presence_sec .main_wrapper .left .filter_options li.filter_li .info p {
  color: rgba(102, 102, 102, 0.6980392157);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.3;
  transition: 0.5s ease;
}
.presence_sec .main_wrapper .left .filter_options li.filter_li .icon {
  flex: 0 1 auto;
  width: 22px;
}
.presence_sec .main_wrapper .right {
  flex: 1;
}
.presence_sec .main_wrapper .right iframe {
  border-radius: 0 10px 10px 0;
  filter: grayscale(1);
  line-height: 0;
}

.milestones_sec .heading {
  text-align: center;
  margin-bottom: 70px;
}
@media only screen and (min-width: 1440px) {
  .milestones_sec .milestone_slider .swiper-slide {
    width: 340px;
  }
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(odd) .milestone_col .desc {
  padding-bottom: 0;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(odd) .milestone_col .desc::before {
  display: none;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(odd) .milestone_col::before {
  background-position: 50% 56%;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(even) .milestone_col {
  flex-direction: column-reverse;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(even) .milestone_col::before {
  transform: translate(0, -50%) rotate(180deg) scale(1.01);
  background-position: 50% 62.2%;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(even) .milestone_col figure {
  margin-bottom: 0;
  margin-top: 60px;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(even) .milestone_col .desc {
  padding-top: 0;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(even) .milestone_col .desc::after {
  display: none;
}
.milestones_sec .milestone_slider .swiper-slide:nth-child(even) .milestone_col .year {
  margin-top: 15px;
  margin-bottom: 0;
}
.milestones_sec .milestone_slider .milestone_col {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.milestones_sec .milestone_slider .milestone_col::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  width: 100%;
  height: 100%;
  background: url("/images/home/trail.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
  z-index: -1;
}
.milestones_sec .milestone_slider .milestone_col figure {
  margin-bottom: 60px;
  height: 110px;
}
.milestones_sec .milestone_slider .milestone_col figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
.milestones_sec .milestone_slider .milestone_col .year {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 15px;
}
.milestones_sec .milestone_slider .milestone_col .number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px dashed #737373;
}
.milestones_sec .milestone_slider .milestone_col .number span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: var(--secondary);
  color: var(--white);
  font-size: 24px;
  font-weight: 700;
  border-radius: 50%;
}
.milestones_sec .milestone_slider .milestone_col .desc {
  position: relative;
  text-align: center;
  max-width: 230px;
  padding: 110px 0;
  height: 230px;
  overflow-y: auto;
}
.milestones_sec .milestone_slider .milestone_col .desc::before, .milestones_sec .milestone_slider .milestone_col .desc::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 1px;
  height: 34px;
  border: 1px dashed #737373;
}
.milestones_sec .milestone_slider .milestone_col .desc::before {
  bottom: 35%;
}
.milestones_sec .milestone_slider .milestone_col .desc::after {
  top: 25%;
}
.milestones_sec .milestone_slider .milestone_col .desc h6 {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  font-family: var(--publicsans);
  margin-bottom: 7px;
}
.milestones_sec .milestone_slider .milestone_col .desc p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}

.clients_sec .heading {
  text-align: center;
  margin-bottom: 40px;
}
.clients_sec .clients_slider .swiper-wrapper {
  transition-timing-function: linear !important;
}
.clients_sec .clients_slider .swiper-wrapper figure {
  height: 90px;
}
.clients_sec .clients_slider .swiper-wrapper figure img {
  -o-object-fit: contain;
     object-fit: contain;
}

.banner.hero_banner::before {
  background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0) 50%), linear-gradient(#000, rgba(0, 0, 0, 0) 40%);
}
.banner.hero_banner .bg {
  height: calc(100vh - var(--headerfixed));
}
@media only screen and (max-width: 768px) {
  .banner.hero_banner .bg {
    height: 80vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.hero_banner .bg {
    height: 70vh;
  }
}
.banner.hero_banner .banner-wrapper {
  top: unset;
  bottom: 15%;
  translate: 0 15%;
}
.banner.hero_banner .banner-wrapper .heading {
  text-align: center;
  margin: 0 auto;
}
.banner.hero_banner .banner-wrapper .heading p {
  font-weight: 400;
  color: var(--white);
  line-height: 1.4;
}

.project_col {
  display: block;
  border: 1px solid #E4E4E4;
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.project_col:hover figure img {
  transform: scale(1.2);
}
.project_col:hover figcaption h5 {
  color: var(--primary);
}
.project_col figure {
  border-radius: 10px 10px 0 0;
  overflow: hidden;
  line-height: 0;
  position: relative;
}
.project_col figure::before {
  content: "";
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: white;
  box-shadow: 0 0 55px 12px white;
  transform: skewX(-20deg);
  z-index: 1;
}
.project_col figure:hover::before {
  animation: shine 0.4s linear;
  animation-fill-mode: none;
}
.project_col figure img {
  border-radius: inherit;
  transition: 0.8s ease;
}
.project_col figcaption {
  padding: 22px 20px;
}
.project_col figcaption h5 {
  font-size: 20px;
  font-weight: 600;
  color: var(--black);
  transition: 0.5s ease;
}
.project_col figcaption .location {
  font-size: 14px;
  font-weight: 400;
}
.project_col figcaption ul {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
}
.project_col figcaption ul li {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0 20px;
}
.project_col figcaption ul li:first-child {
  padding-left: 0;
  border-right: 1px solid #E0E0E0;
}
.project_col figcaption ul li:last-child {
  padding-right: 0;
}
.project_col figcaption ul li .icon {
  flex: 0 1 auto;
  width: 44px;
  height: 44px;
  background: #E9E9E9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--black);
  border-radius: 50%;
}
.project_col figcaption ul li .icon svg, .project_col figcaption ul li .icon img {
  width: 50%;
  height: 50%;
}
.project_col figcaption ul li .info {
  flex: 1;
}
.project_col figcaption ul li .info h6 {
  font-weight: 500;
  font-family: var(--publicsans);
  font-size: 14px;
  color: var(--text);
}
.project_col figcaption ul li .info p {
  font-weight: 400;
  color: var(--black);
}

.contact_form {
  position: sticky;
  top: var(--headerheight);
  padding: 20px 35px 40px;
  box-shadow: 0px 2px 8px 0 rgba(99, 99, 99, 0.2);
  border-radius: 10px;
}
.contact_form .icon {
  width: 51px;
  height: 51px;
  margin: 0 auto 35px;
}
.contact_form .form-grid {
  --gaptb: 28px;
}
.contact_form .btn_wrap {
  margin-top: 35px;
  justify-content: center;
}/*# sourceMappingURL=component.css.map */