@import '../_var'

.about_sec
    .main_wrapper
        justify-content: center
        align-items: center
        --gap: 100px
        gap: var(--gap)
        .figure-animation
            flex: 0 1 auto
            width: 100%
            max-width: 490px
            height: 490px
            border: 1px solid #DBDBDB
            border-radius: 50%
            // overflow: hidden
            padding: 15px
            .animation_wrapper
                width: 100%
                height: 100%
                position: relative
                background: url("/images/home/road-vector.png") repeat-x
                background-position: 0 50%
                animation: road-scroll 20s linear infinite
                overflow: hidden
                border-radius: 50%
                border: inherit
                @keyframes road-scroll
                    from
                        background-position: 0 50%
                    to
                        background-position: -1000px 50%
                .truck
                    position: absolute
                    top: 55%
                    left: 40%
                    transform: translate(-40%, -55%)
                    width: 286px
                    height: auto
                .bottom_circle
                    width: 100%
                    height: 22%
                    background: #F9F9FA 
                    position: absolute
                    bottom: 0
                    left: 50%
                    transform: translate(-50%, 0)
                    border-top: 1px solid #C7C7C7
                    
        figcaption
            flex: 0 1 auto
            width: 100%
            max-width: 50%
            .heading
                h3
                    margin-bottom: 10px
                .desc
                    margin-bottom: 25px
                    p
                        &:not(:last-child)
                            margin-bottom: 10px

.presence_sec
    .heading
        text-align: center
        margin-bottom: 50px
    .main_wrapper
        background: #F3F3F3
        border-radius: 10px
        box-shadow: 0px 2px 8px 0 #63636333
        .left
            flex: 0 1 auto
            width: 100%
            max-width: 400px
            padding: 20px 20px 40px
            .upper
                margin-bottom: 20px 
                h4
                    font-size: 20px
                    font-family: $PublicSans
                    font-weight: 600
                    margin-bottom: 25px
                .form
                    --item: 2
                    --gaplr: 15px
                    --inputsize: 30px
                    .form-group
                        padding: 24px 8px 8px
                        background: $white
                        --iconsize: 18px
                        --iconspace: 10px
                        &::before, &::after
                            display: none
                        label
                            opacity: 1
                            top: 8px
                            // position: static
                            display: inline-block
                            margin-bottom: 2px
                            padding-left: calc(var(--iconsize) + var(--iconspace) + 8px)
                            color: #66666680
                            font-size: 14px
                        .custom-select
                            --iconsize: 18px
                            --iconspace: 10px
                            &::before
                                background-image: url(/icon/arrow-down-black.svg)
                            .current
                                padding-right: calc( var(--arrow) + var(--arrowspace) )
                        &.state
                            .custom-select.has-icon
                                --iconurl: url("/icon/location-prime.svg")
                        &.category
                            .custom-select.has-icon
                                --iconurl: url("/icon/clock-prime.svg")
            .filter_options
                max-height: 414px
                overflow-y: auto
                padding-right: 10px
                @include scrollbar(4px, var(--white), var(--primary), 0px)
                li.sale_li 
                    padding: 20px 35px
                    transition: .5s ease
                    background: $white
                    &:not(:last-child)
                        border-bottom: 1px solid #E2E2E2
                    &.active, &:hover
                        background: linear-gradient(0deg, #191542, #231976)
                        .price
                            h6
                                color: $white
                            p
                                background: #FFFFFF33
                                color: $white
                        .loc
                            color: $white
                            p
                                color: $white
                    &.active
                        .desc
                            grid-template-rows: 1fr
                            .content
                                margin-bottom: 20px
                    .price
                        display: flex
                        align-items: center
                        justify-content: space-between
                        gap: 40px
                        margin-bottom: 14px
                        h6
                            font-size: 20px
                            font-family: $PublicSans
                            font-weight: 700
                            line-height: 1.2
                            transition: .5s ease
                        p
                            background: #90C94A
                            padding: 4px 12px
                            border-radius: 25px
                            color: $black
                            font-size: 14px
                            font-weight: 500
                            transition: .5s ease
                    .desc
                        display: grid
                        grid-template-rows: 0fr
                        transition: .5s ease
                        .content
                            transition: .5s ease
                            margin-bottom: 0px
                            overflow: hidden
                        p
                            color: #FFFFFFB2
                            font-weight: 400
                            font-size: 14px
                            line-height: 1.3
                    .loc
                        display: flex
                        align-items: center
                        gap: 5px
                        .icon
                            flex: 0 1 auto
                            width: 20px
                            height: 20px
                        p
                            font-size: 14px
                            font-weight: 500

                li.filter_li 
                    display: flex
                    justify-content: space-between
                    align-items: center
                    background: var(--white)
                    cursor: pointer
                    gap: 42px
                    padding: 20px
                    transition: all .5s ease-in-out
                    &:not(:last-child)
                        margin-bottom: 3px
                    &:hover, &.active
                        background: $primary
                        .info
                            h6
                                color: $white
                            p
                                color: #FFFFFFB2
                        .icon
                            svg
                                path
                                    fill: $white
                    .info
                        flex: 1
                        h6
                            font-family: $PublicSans
                            font-size: 14px
                            font-weight: 600
                            margin-bottom: 4px
                            transition: .5s ease
                        p
                            color: #666666B2
                            font-weight: 500
                            font-size: 14px
                            line-height: 1.3
                            transition: .5s ease

                    .icon
                        flex: 0 1 auto
                        width: 22px
        .right
            flex: 1 
            iframe
                border-radius: 0 10px 10px 0 
                filter: grayscale(1)
                line-height: 0

.milestones_sec
    .heading
        text-align: center
        margin-bottom: 70px
    .milestone_slider
        .swiper-slide
            @include media-min(1440)
                width: 340px
            &:nth-child(odd)
                .milestone_col
                    .desc
                        padding-bottom: 0
                        &::before
                            display: none
                    &::before
                        background-position: 50% 56%
            &:nth-child(even)
                .milestone_col
                    flex-direction: column-reverse
                    &::before
                        transform: translate(0, -50%) rotate(180deg) scale(1.01)
                        background-position: 50% 62.2%
                    figure
                        margin-bottom: 0
                        margin-top: 60px
                    .desc
                        padding-top: 0
                        &::after 
                            display: none
                    .year
                        margin-top: 15px
                        margin-bottom: 0
        .milestone_col
            position: relative
            display: flex
            flex-direction: column
            align-items: center
            &::before
                content: ""
                position: absolute
                top: 50%
                left: 0
                transform: translate(0, -50%)
                width: 100%
                height: 100%
                background: url("/images/home/trail.svg")
                background-repeat: no-repeat
                background-position: 50% 50%
                background-size: contain
                z-index: -1
            figure
                margin-bottom: 60px
                height: 110px
                img
                    object-fit: contain
            .year
                display: inline-block
                font-size: 20px
                font-weight: 600
                color: $black
                margin-bottom: 15px
            .number
                display: flex
                align-items: center
                justify-content: center
                width: 70px
                height: 70px
                border-radius: 50%
                border: 1px dashed #737373
                span
                    display: flex
                    align-items: center
                    justify-content: center
                    width: 50px
                    height: 50px
                    background: $secondary
                    color: $white
                    font-size: 24px
                    font-weight: 700
                    border-radius: 50%
            .desc
                position: relative
                text-align: center
                max-width: 230px
                padding: 110px 0
                height: 230px
                overflow-y: auto
                &::before, &::after
                    content: ""
                    position: absolute
                    left: 50%
                    width: 1px
                    height: 34px
                    border: 1px dashed #737373
                &::before
                    bottom: 35%
                &::after
                    top: 25%
                h6
                    font-size: 20px
                    font-weight: 600
                    line-height: 1.1
                    font-family: $PublicSans
                    margin-bottom: 7px
                p
                    font-weight: 400
                    font-size: 14px
                    line-height: 1.3

.clients_sec
    .heading
        text-align: center
        margin-bottom: 40px
    .clients_slider
        .swiper-wrapper
            transition-timing-function: linear !important
            figure
                height: 90px
                img
                    object-fit: contain

.banner.hero_banner
    &::before
        background: linear-gradient(0deg, #000, #0000 50%), linear-gradient(#000, #0000 40%)
    .bg
        height: calc(100vh - var(--headerfixed))
        @include media(768)
            height: 80vh
        @include media(540)
            height: 70vh
    .banner-wrapper
        top: unset
        bottom: 15%
        translate: 0 15%
        .heading
            text-align: center
            margin: 0 auto
            p
                font-weight: 400
                color: $white 
                line-height: 1.4

.project_col
    display: block
    border: 1px solid #E4E4E4
    background: $white
    border-radius: 10px
    width: 100%
    height: 100%
    &:hover
        figure
            img
                transform: scale(1.2)
        figcaption
            h5
                color: $primary
    figure
        border-radius: 10px 10px 0 0
        overflow: hidden    
        line-height: 0
        @include shine()
        img
            border-radius: inherit
            transition: .8s ease
    figcaption
        padding: 22px 20px
        h5
            font-size: 20px
            font-weight: 600
            color: $black
            transition: .5s ease
        .location
            font-size: 14px
            font-weight: 400
        ul
            margin-top: 25px
            display: flex
            flex-wrap: wrap
            li
                flex: 1
                display: flex
                align-items: center
                gap: 12px
                padding: 0 20px
                &:first-child
                    padding-left: 0
                    border-right: 1px solid #E0E0E0
                &:last-child
                    padding-right: 0
                .icon
                    flex: 0 1 auto
                    width: 44px
                    height: 44px
                    background: #E9E9E9
                    display: flex
                    align-items: center
                    justify-content: center
                    color: $black
                    border-radius: 50%
                    svg, img
                        width: 50%
                        height: 50%
                .info
                    flex: 1
                    h6
                        font-weight: 500
                        font-family: $PublicSans
                        font-size: 14px
                        color: $text
                    p
                        font-weight: 400
                        color: $black

.contact_form
    position: sticky
    top: var(--headerheight)
    padding: 20px 35px 40px
    box-shadow: 0px 2px 8px 0 #63636333
    border-radius: 10px
    .icon
        width: 51px
        height: 51px
        margin: 0 auto 35px
    .form-grid
        --gaptb: 28px
    .btn_wrap
        margin-top: 35px
        justify-content: center