@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.hero-banner::before {
  background: linear-gradient(0deg, #000000, rgba(0, 0, 0, 0)), linear-gradient(90deg, rgba(0, 0, 0, 0.631372549), rgba(0, 0, 0, 0));
}
.banner.hero-banner .bg {
  height: calc(100vh - var(--headerfixed));
}
@media only screen and (max-width: 768px) {
  .banner.hero-banner .bg {
    height: 80vh;
  }
}
@media only screen and (max-width: 540px) {
  .banner.hero-banner .bg {
    height: 70vh;
  }
}
.banner.hero-banner .bg .image-wrapper {
  height: 100%;
}
.banner.hero-banner .bg .image-wrapper .tabs {
  height: 100%;
}
.banner.hero-banner .bg .banner-wrapper {
  width: 100%;
  top: 60%;
  translate: 0 -60%;
}
.banner.hero-banner .bg .banner-wrapper .hero-heading {
  height: 305px;
}
.banner.hero-banner .bg .banner-wrapper .hero-heading .heading {
  max-width: 670px;
}
.banner.hero-banner .bg .banner-wrapper .hero-heading .heading h2 {
  line-height: 1.15;
  margin-bottom: 5px;
}
.banner.hero-banner .bg .banner-wrapper .hero-heading .heading p {
  line-height: 1.4;
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}
.banner.hero-banner .bg .banner-wrapper .hero-heading .heading .btn {
  margin-top: 35px;
}
.banner.hero-banner .bg .swiper-dots {
  position: absolute;
  height: -moz-max-content;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  top: unset;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, 10%);
  z-index: 2;
}
.banner.hero-banner .bg .swiper-dots .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  border-radius: 25px;
  opacity: 1;
  background: var(--white);
  transition: 0.5s ease;
}
.banner.hero-banner .bg .swiper-dots .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 41px;
  background: var(--secondary);
}

.insights_sec {
  width: 100%;
  height: 650px;
}
.insights_sec .main_wrapper {
  transition: 0.8s ease;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  position: relative;
}
.insights_sec .main_wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 40%);
  transition: 0.5s ease;
}
.insights_sec .main_wrapper .insight_col {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 48px 65px;
}
.insights_sec .main_wrapper .insight_col:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.insights_sec .main_wrapper .insight_col {
  position: relative;
}
.insights_sec .main_wrapper .insight_col::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: rgba(0, 0, 0, 0.1019607843);
  transition: 0.5s ease;
}
.insights_sec .main_wrapper .insight_col::before {
  top: unset;
  backdrop-filter: blur(20px);
  height: 0;
  transition: 0.8s ease;
}
.insights_sec .main_wrapper .insight_col:hover::before, .insights_sec .main_wrapper .insight_col.active::before {
  height: 100%;
}
.insights_sec .main_wrapper .insight_col:hover .content, .insights_sec .main_wrapper .insight_col.active .content {
  transform: translateY(-120px);
}
.insights_sec .main_wrapper .insight_col .content {
  position: relative;
  z-index: 0;
  transition: 0.8s ease;
}
.insights_sec .main_wrapper .insight_col .icon {
  width: 57px;
  height: 55px;
  margin-bottom: 15px;
}
.insights_sec .main_wrapper .insight_col .icon svg {
  width: 100%;
  height: 100%;
}
.insights_sec .main_wrapper .insight_col h6 {
  font-size: 36px;
  font-weight: 700;
  color: var(--white);
}
.insights_sec .main_wrapper .insight_col p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6980392157);
  text-transform: uppercase;
  max-width: 150px;
}

.engineering_delivers {
  position: relative;
  position: relative;
}
.engineering_delivers::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: none;
  transition: 0.5s ease;
}
.engineering_delivers::before {
  background: linear-gradient(0deg, #211B57, rgba(33, 27, 87, 0)), linear-gradient(90deg, #211B57, rgba(33, 27, 87, 0));
}
.engineering_delivers .sec-pad-all {
  padding: 100px 0;
}
.engineering_delivers .bg-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.engineering_delivers .main_wrapper {
  position: relative;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  --gap: 80px;
}
.engineering_delivers .main_wrapper .heading {
  flex: 0 1 auto;
  max-width: 330px;
  width: 100%;
}
.engineering_delivers .main_wrapper .heading h3 {
  color: var(--white);
  max-width: 280px;
}
.engineering_delivers .main_wrapper .heading p {
  color: rgba(255, 255, 255, 0.6980392157);
}
.engineering_delivers .main_wrapper .heading .btn {
  margin-top: 30px;
}
.engineering_delivers .main_wrapper .slider-wrapper {
  position: relative;
  flex: 1;
  max-width: calc(100% - (330px + var(--gap)));
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider {
  padding: 40px 0 40px 40px;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .swiper-slide.swiper-slide-active {
  z-index: 1;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .swiper-slide.swiper-slide-active .engineering_col {
  transform: scale(1.2);
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .swiper-slide:not(.swiper-slide-active) .engineering_col {
  transform: scale(0.8);
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .engineering_col {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.5s ease;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .engineering_col::before {
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 50%);
  border-radius: inherit;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .engineering_col figure {
  border-radius: inherit;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .engineering_col figure img {
  border-radius: inherit;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .engineering_col figcaption {
  padding: 0 30px 30px;
  text-align: center;
}
.engineering_delivers .main_wrapper .slider-wrapper .engineering_slider .engineering_col figcaption h6 {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
}
.engineering_delivers .main_wrapper .slider-wrapper .swiper-wrap {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 25px;
}
.engineering_delivers .main_wrapper .slider-wrapper .swiper-wrap .progressbar {
  position: relative;
  flex: 1;
  background: rgba(255, 255, 255, 0.3019607843);
  height: 3px;
}
.engineering_delivers .main_wrapper .slider-wrapper .swiper-wrap .progressbar .swiper-pagination-progressbar-fill {
  background: var(--white);
}
.engineering_delivers .main_wrapper .slider-wrapper .swiper-wrap .swiper-nav {
  flex: 0 1 auto;
  gap: 15px;
}

.director_message {
  background: var(--gray);
  position: relative;
}
.director_message::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: url("/images/logo-vector.svg");
  transition: 0.5s ease;
}
.director_message::before {
  background-repeat: no-repeat;
  background-position: 98% 100%;
}
.director_message .main_wrapper {
  --gap: 100px;
  gap: var(--gap);
  align-items: start;
  justify-content: center;
}
.director_message .main_wrapper figure {
  position: relative;
  z-index: 1;
  flex: 0 1 auto;
  max-width: 50%;
  width: 100%;
  position: relative;
}
.director_message .main_wrapper figure::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background: var(--secondary);
  transition: 0.5s ease;
}
.director_message .main_wrapper figure::before {
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: translate(20px, 15px);
}
.director_message .main_wrapper figcaption {
  flex: 1;
  max-width: calc(50% - var(--gap));
  padding: 50px 92px 0 0;
}
.director_message .main_wrapper figcaption .heading h3 {
  margin-bottom: 8px;
}
.director_message .main_wrapper figcaption .director_info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.director_message .main_wrapper figcaption .director_info .play-btn {
  --bordercolor: var(--primary);
  --playbtncolor: var(--primary);
}
.director_message .main_wrapper figcaption .director_info .details h6 {
  font-family: var(--publicsans);
  font-weight: 600;
  line-height: 1.3;
}
.director_message .main_wrapper figcaption .director_info .details p {
  font-weight: 300;
  font-size: 14px;
}

.social_responsibility {
  background: var(--gray);
}
.social_responsibility .heading {
  text-align: center;
  margin-bottom: 40px;
}
.social_responsibility .heading p {
  line-height: 1.2;
}
.social_responsibility .main_wrapper {
  position: relative;
}
.social_responsibility .main_wrapper .social_slider {
  max-width: 97%;
}/*# sourceMappingURL=home.css.map */