@import '../_var'

.banner.about_us_banner
    .banner-wrapper
        .heading
            max-width: 422px

.about_description.banner
    &::before
        background: linear-gradient(0deg, #a3a3a300, #fff 70%)
    .bg
        height: 720px
        video
            object-position: 0 5px
    .banner-wrapper
        top: 10%
        translate: 0 -10%
        .heading
            max-width: 650px
            line-height: 1.5
            text-align: center
            margin: 0 auto
            .icon
                width: 51px
                height: 51px
                margin: 0 auto 20px
            h2
                font-size: 24px
                margin-bottom: 10px
                color: $black
            .desc
                p
                    &:not(:last-child)
                        margin-bottom: 15px

.our_values_sec
    .heading
        text-align: center
        margin-bottom: 50px
    .main_wrapper
        position: relative
        .value_slider
            max-width: 97%
            .value_col
                border-radius: 10px
                &:hover
                    .details
                        transform: translateY(0)
                    figure
                        img
                            transform: scale(1.2)
                &::before
                    background: linear-gradient(0deg, #000, #0000 50%)
                    border-radius: inherit
                figure
                    border-radius: inherit
                    img
                        border-radius: inherit
                figcaption
                    padding: 0 30px 35px
                    h6
                        font-size: 20px
                        font-family: $PublicSans
                        font-weight: 600
                        color: $white
                .details
                    position: absolute
                    bottom: 0
                    left: 0
                    padding: 55px 30px 35px
                    transform: translateY(100%)
                    background: #41414166
                    backdrop-filter: blur(50)
                    width: 100%
                    height: 100%
                    border-radius: inherit
                    transition: .5s ease
                    z-index: 2
                    h6
                        font-size: 20px
                        font-family: $PublicSans
                        font-weight: 600
                        color: $white
                    p
                        margin: 15px 0 60px
                        color: #FFFFFFB2
                        
.about_milestone
    background: var(--gray)

.mission_vision
    position: relative
    width: 100%
    height: 100%
    .bg
        position: absolute
        inset: 0
        width: 100%
        height: 100%
        background: var(--primary)
        img
            opacity: .3
    .container
        position: relative
        z-index: 1
        --container: 820px
        .main_wrapper
            padding-bottom: 90px
            border-left: 1px solid $white
            .vision_col, .mission_col
                position: relative
                display: flex
                flex-wrap: wrap
                align-items: center
                --gap: 130px
                gap: var(--gap)
                padding: 80px 0 0 80px
                &::before
                    content: ""
                    position: absolute
                    width: 20px
                    height: 20px
                    border-radius: 50%
                    background: $white
                    top: 135px
                    left: -10px
                figure
                    flex: 0 1 auto
                    width: 100%
                    line-height: 0
                    img
                        user-select: none
                figcaption
                    flex: 1
                    width: 100%
                    max-width: calc( 100% - var(--gap))
                    h4
                        font-size: 36px
                        color: $white
                        margin-bottom: 10px
                    .desc
                        p
                            color: #FFFFFFB2
                            &:not(:last-child)
                                margin-bottom: 10px
            .vision_col
                figure
                    max-width: 180px
                    mask-image: url("/images/about-us/vision-vector.svg")
                    mask-size: 100%
                    mask-repeat: no-repeat
            .mission_col
                flex-direction: row-reverse
                figure
                    max-width: 248px
                    height: 248px
                    mask-image: url("/images/about-us/mission-vector.svg")
                    mask-size: 100%
                    mask-repeat: no-repeat

.leadership_team
    .heading
        text-align: center
        margin-bottom: 40px
    .main_wrapper
        position: relative
        .team_slider
            max-width: 97%