@import '../_var'


.banner.career_hero
    margin-top: var(--headerheight)
    &::before
        background: linear-gradient(0deg, #000, #0000 75%)
    .banner-wrapper 
        .heading
            max-width: 700px
            .btn
                margin: 40px auto

.team_info_sec
    .container
        position: relative
    .heading
        text-align: center
        max-width: 646px
        margin: 0 auto 50px
        @include media(768)
            margin: 0 auto 40px
        @include media(540)
            margin: 0 auto 25px
        h2
            line-height: 1.1
            font-size: 36px
            color: $primary
            @include media(991)
                font-size: 32px
            @include media(768)
                font-size: 28px
            @include media(540)
                font-size: 24px
            span
                font-style: italic
                font-weight: 300
                display: block
    .team_info_wrapper
        position: relative
        display: grid
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 20px
        @include media(768)
            grid-gap: 15px
        @include media(540)
            grid-template-columns: repeat(1, 1fr)
        .team_info_col
            padding: 20px 20px 30px
            background: #F3F3F3
            border-radius: 15px
            @include media(991)
                border-radius: 10px
            .upper_sec
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-between
                gap: 10px
                h2
                    color: $primary
                    font-weight: 600
                    flex: 0 1 auto
                    max-width: 275px
                    font-size: 24px
                    line-height: 1.3
                    @include media(991)
                        font-size: 22px
                    @include media(768)
                        font-size: 18px
                .icon
                    flex: 0 1 60px
                    width: 60px
                    height: 60px
                    @include media(991)
                        flex: 0 1 60px
                        width: 60px
                        height: 60px
                    @include media(768)
                        flex: 0 1 50px
                        width: 50px
                        height: 50px
                    img
                        object-fit: contain
            .desc
                margin-top: 15px
                p
                    line-height: 1.5

.life_org_sec
    .heading
        text-align: center
        margin: 0 auto 50px
        max-width: 571px
        @include media(768)
            margin: 0 auto 40px
        @include media(540)
            margin: 0 auto 30px
        h2
            line-height: 1.1
            font-size: 36px
            color: $primary
            @include media(991)
                font-size: 32px
            @include media(768)
                font-size: 28px
            @include media(540)
                font-size: 24px
            span
                font-style: italic
                font-weight: 300
                display: block
        p
            margin-top: 15px
            @include media(540)
                margin-top: 10px
    .life_wrapper
        position: relative
        .life_slider
            .swiper-slide
                transition: 1s ease
                &:not(.swiper-slide-active)
                    transform: scale(0.8)
                figure
                    border-radius: 20px
                    @include media(768)
                        border-radius: 10px
                    img
                        border-radius: 20px
                        @include media(768)
                            border-radius: 10px
        .nav_wrapper
            margin: 50px auto 0
            display: flex
            align-items: center
            gap: 15px
            justify-content: center
            position: relative
            @include media(768)
                margin: 40px auto 0 
            @include media(540)
                margin: 30px auto 0
                display: flex !important
            .swiper-prev, .swiper-next
                flex: 0 1 auto
            .progressbar
                flex: 1
                width: 360px
                max-width: 360px
                position: relative
                @include media(540)
                    max-width: 180px
                    height: 2px
            .swiper-pagination-progressbar
                --swiper-pagination-color: var(--primary)
                background: #C5C5C5

.open_positions_sec
    .main_wrapper
        position: relative
        background: $primary
        border-radius: 20px
        padding: 55px 30px 60px
        @include media(991)
            padding: 40px 25px 50px
        @include media(768)
            border-radius: 10px
        @include after(url(/assets/logo-vector-white.svg))
        &::after
            background-repeat: no-repeat
            background-position: 95% 4%
            background-size: 190px
            z-index: 0
            opacity: .2
            @include media(768)
                background-size: 110px
            @include media(540)
                background-position: 90% 5%
                background-size: 90px
        @include media(540)
            padding: 30px 20px 40px
        .heading
            p, h2
                color: $white
            h2
                font-size: 36px
                @include media(991)
                    font-size: 32px
                @include media(768)
                    font-size: 28px
                    max-width: 350px
                @include media(540)
                    font-size: 24px
                    max-width: 275px
            p
                font-size: 16px
                margin-bottom: 10px
                margin-top: 0
                font-weight: 600
        .open_wrapper
            margin-top: 30px
            display: grid
            grid-template-columns: repeat(4, 1fr)
            grid-gap: 20px
            @include media(1280)
                grid-gap: 15px
                margin-top: 40px
            @include media(991)
                grid-template-columns: repeat(3, 1fr)
            @include media(768)
                grid-template-columns: repeat(2, 1fr)
            @include media(540)
                grid-template-columns: repeat(1, 1fr)
                margin-top: 30px

.future_colleague_sec
    padding-bottom: 100px
    .future_wrapper
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        --gap: 50px
        gap: var(--gap)
        @include media(991)
            --gap: 40px
        @include media(768) 
            flex-direction: column
            --gap: 30px
        @include media(540)
            --gap: 20px
        .colA
            flex: 0 1 33%
            max-width: 33%
            width: 100%
            display: flex
            flex-direction: column
            gap: 50px
            @include media(768)
                flex: 0 1 100%
                max-width: 100%
                gap: 20px
            .heading
                @include media(768)
                    text-align: center
                h2
                    line-height: 1.1
                    font-size: 36px
                    color: $primary
                    @include media(991)
                        font-size: 32px
                    @include media(768)
                        font-size: 28px
                    @include media(540)
                        font-size: 24px
                    span
                        font-style: italic
                        font-weight: 300
                        display: block
            .career-nav
                @include media(768)
                    display: none
            .details
                margin-top: auto
                margin-bottom: 50px
                @include media(768)
                    text-align: center
                    margin-bottom: 0
                h6
                    font-size: 20px
                    font-weight: 700
                    @include media(540)
                        font-size: 16px 
                a
                    display: block
                    color: $black
                    &:hover
                        transform: translateX(5px)
        .colB
            flex: 1
            max-width: calc( 67% - var(--gap) )
            @include media(768)
                max-width: 100%
            .career_slider
                .future_col
                    width: 100%
                    height: 100%
                    padding: 30px 25px
                    background: #EEEEEE
                    border-radius: 10px
                    @include media(991)
                        padding: 25px 20px
                    @include media(768)
                        padding: 20px
                    .user_icon
                        width: 85px
                        height: 85px
                        @include media(540)
                            width: 70px
                            height: 70px
                        img
                            border-radius: 50%
                    .desc
                        margin: 20px 0 50px
                        @include media(991)
                            margin: 20px 0 40px
                        @include media(768)
                            margin: 20px 0 30px
                        @include media(540)
                            margin: 15px 0 20px
                        p
                            color: $text
                            @include line-clamp($line: 7)
                            @include media(768)
                                -webkit-line-clamp: 5
                    .details
                        h6
                            font-size: 18px
                            margin-bottom: 2px
                            @include media(540)
                                font-size: 16px
                                margin-bottom: 0
                        p
                            line-height: 1.2
                            font-size: 14px

.positons_col
    width: 100%
    height: 100%
    padding: 20px 30px
    background: #F3F3F3
    border-radius: 10px
    cursor: pointer
    position: relative
    @include media(1280)
        padding: 20px 25px
    @include media(540)
        padding: 18px 20px
        border-radius: 8px
    &:hover
        .check_pos
            background: $primary
            color: $white
    .pos_name
        font-weight: 600
        color: #070606
    .pos_loc
        font-weight: 600
        color: #737373
        margin-top: 50px
        @include media(540)
            margin-top: 20px    
    .check_pos
        width: 35px
        height: 30px
        position: absolute
        bottom: 10px
        right: 10px
        background: $white
        border-radius: 7px
        display: flex
        align-items: center
        justify-content: center
        transition: .5s ease

        